# Curate CardHolder data (09)

In [1]:
import os
# get the accessKey and secretKey from Environment
accessKey = os.environ['AWS_ACCESS_KEY_ID']
secretKey = os.environ['AWS_SECRET_ACCESS_KEY']

from pyspark.sql import SparkSession
spark = (
    SparkSession.builder
        .appName("Jupyter")
        .master("local[*]")

        .config("spark.jars.packages",
                "org.apache.iceberg:iceberg-spark-runtime-4.0_2.13:1.10.1,"
                "org.apache.iceberg:iceberg-aws-bundle:1.10.1")

        .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem")
        .config("spark.hadoop.fs.s3a.endpoint", "http://ibm-lh-presto-svc:9000")
        .config("spark.hadoop.fs.s3a.path.style.access", "true")
        .config("spark.hadoop.fs.s3a.access.key", "f33150f834d9a8b2435474f6")
        .config("spark.hadoop.fs.s3a.secret.key", "fdd7d613b2c72d07c3618ae6")
        .config("spark.hadoop.fs.s3a.aws.credentials.provider", "org.apache.hadoop.fs.s3a.SimpleAWSCredentialsProvider")

        # ==== Iceberg catalog (local) ===
        .config("spark.sql.catalog.hiverest", "org.apache.iceberg.spark.SparkCatalog")
        .config("spark.sql.catalog.hiverest.type", "rest")
        .config("spark.sql.catalog.hiverest.uri", "http://hive-metastore:9084/iceberg")
        .config("spark.sql.catalog.hiverest.io-impl", "org.apache.iceberg.aws.s3.S3FileIO")
        .config("spark.sql.catalog.hiverest.warehouse", "s3a://admin-bucket/iceberg/warehouse")

        # ⭐ REQUIRED FOR MINIO WITH ICEBERG AWS SDK
        .config("spark.sql.catalog.hiverest.s3.endpoint", "http://minio-1:9000")
        .config("spark.sql.catalog.hiverest.s3.path-style-access", "true")
        .config("spark.sql.catalog.hiverest.s3.access-key-id", accessKey)
        .config("spark.sql.catalog.hiverest.s3.secret-access-key", secretKey)
    
        # ==== Iceberg catalog (watson) ===
        .config("spark.sql.catalog.watson", "org.apache.iceberg.spark.SparkCatalog")
        .config("spark.sql.catalog.watson.type", "rest")
        .config("spark.sql.catalog.watson.uri", "https://ibm-lh-presto-svc:8180/mds/iceberg")
        .config("spark.sql.catalog.watson.rest.auth.type", "basic")
        .config("spark.sql.catalog.watson.rest.auth.basic.username", "ibmlhadmin")
        .config("spark.sql.catalog.watson.rest.auth.basic.password", "password")    
        .config("spark.sql.catalog.watson.io-impl", "org.apache.iceberg.aws.s3.S3FileIO")
        .config("spark.sql.catalog.watson.warehouse", "iceberg_data")

        # ⭐ REQUIRED FOR MINIO WITH ICEBERG AWS SDK
        .config("spark.sql.catalog.watson.s3.endpoint", "http://ibm-lh-presto-svc:9000")
        .config("spark.sql.catalog.watson.s3.path-style-access", "true")
        .config("spark.sql.catalog.watson.s3.access-key-id", "f33150f834d9a8b2435474f6")
        .config("spark.sql.catalog.watson.s3.secret-access-key", "fdd7d613b2c72d07c3618ae6")

        # use "hiverest" for local setup, "watson" for the watsonx developer setup
        .config("spark.sql.defaultCatalog", "hiverest")

        .config(
            "spark.driver.extraJavaOptions",
            "-Djavax.net.ssl.trustStore=/data-transfer/truststore.jks " +
            "-Djavax.net.ssl.trustStorePassword=changeit"
        )
        .config(
            "spark.executor.extraJavaOptions",
            "-Djavax.net.ssl.trustStore=/data-transfer/truststore.jks " +
            "-Djavax.net.ssl.trustStorePassword=changeit"
        )

        .config(
            "spark.sql.extensions",
            "org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions"
        )

        .getOrCreate()
)

In [2]:
%load_ext sql
%sql spark

In [3]:
%%sql
DROP TABLE IF EXISTS customer_db.cur_person_t;
DROP TABLE IF EXISTS customer_db.cur_address_t;

CREATE TABLE customer_db.cur_person_t (
    person_id STRING,
    first_name STRING,
    last_name STRING,    
    email_address STRING,
    phone_number STRING,
    preferred_contact STRING,
    segment STRING,
    avg_transaction_amount DOUBLE,
    onboarded_date TIMESTAMP
    );
    
CREATE TABLE customer_db.cur_address_t (
    address_id STRING,
    person_id STRING,
    street STRING,
    zip_code STRING,
    city STRING,
    state STRING
);

Running query in 'SparkSession'

++
||
++
++

In [4]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

# Source table
source_table = "customer_db.raw_card_holder_t"

In [5]:
spark.sql(f"""
MERGE INTO customer_db.cur_person_t t
USING (
  SELECT
    card_holder.id                AS person_id,
    card_holder.first_name        AS first_name,
    card_holder.last_name         AS last_name,
    card_holder.email_address     AS email_address,
    card_holder.phone_number      AS phone_number,
    card_holder.preferred_contact AS preferred_contact,
    card_holder.segment           AS segment,
    card_holder.avg_transaction_amount AS avg_transaction_amount,
    card_holder.onboarded_date    AS onboarded_date
  FROM {source_table}
) s
ON t.person_id = s.person_id
WHEN MATCHED THEN UPDATE SET *
WHEN NOT MATCHED THEN INSERT *
""")

DataFrame[]

In [7]:
%%sql
SELECT
    sha2(concat(card_holder.id, a.street, a.zip_code, a.city, a.state),256) AS address_id,
    card_holder.id AS person_id,
    a.street,
    a.zip_code AS zip_code,
    a.city,
    a.state
  FROM customer_db.raw_card_holder_t
  LATERAL VIEW explode(card_holder.addresses) addr AS a

Running query in 'SparkSession'

873 rows affected.

+------------------------------------------------------------------+--------------------------------------+--------------------+---------+--------------------+---------------+
|                             Field 1                              |               Field 2                |      Field 3       | Field 4 |      Field 5       |    Field 6    |
+------------------------------------------------------------------+--------------------------------------+--------------------+---------+--------------------+---------------+
| 9f59b07bb42202a1a28dea9018ade1c64a83936152af0c6e7bb1bfd087b30b31 | f07fd9ba-502f-4669-c088-82f8d53c9c65 |   Schiller Rapid   |  76580  |  New Janettmouth   |    Wyoming    |
| aee27e3aed42b1ac83e6861d591b3718721c7e120403824ce337a18d9a7a074b | d79ba92a-78eb-38f1-17c0-02b285342dd3 |   Lonna Corners    |  45304  |   Bahringerside    |      Iowa     |
| 866c30556aeacf7fda50874660081548510ba45711e2e5708b3d3349d50877af | d79ba92a-78eb-38f1-17c0-02b285342dd3 |    Pouros Isle     |  79389  | Runolfsdottirmouth |   California  |
| 6e1326c17da71919119398f8113f9aa15b89d1f35d24751fea7d1bc928f4b6fb | 47118bec-9611-4bd4-3d48-68d6e5fab8c7 | Rutherford Terrace |  94874  |      Rathview      | Massachusetts |
| bbc32889e6631384024862253389f10a034d043300e9fb22d8259ba205785690 | 47118bec-9611-4bd4-3d48-68d6e5fab8c7 |   Turner Islands   |  68786  |     Lake Rona      |     Hawaii    |
| d71f192fa7a4690341f7ab326a2425f7362da5442c343117ab0c813fa424a6aa | 47118bec-9611-4bd4-3d48-68d6e5fab8c7 |  Buckridge Drives  |  00739  |   Port Demetrius   |     Hawaii    |
| aabc07a6a0f2ccb15a5baec373baedcc2959357791a2061875ebf099f8cc1c15 | 47118bec-9611-4bd4-3d48-68d6e5fab8c7 |   Cole Motorway    |  02810  |     Roslynfurt     |    Kentucky   |
| bd53e469191894b1fe3eae29d364f521621a0bb20ebf277756e7a0fe05ad4580 | 8ddacc74-c1cf-0bd3-27f2-703ddb91a9fb |    Stamm Burgs     |  39445  |    Dennychester    |   New Mexico  |
+------------------------------------------------------------------+--------------------------------------+--------------------+---------+--------------------+---------------+
Truncated to displaylimit of 10.

In [8]:
spark.sql(f"""
MERGE INTO customer_db.cur_address_t t
USING (
  SELECT
    sha2(concat(card_holder.id, a.street, a.zip_code, a.city, a.state),256) AS address_id,
    card_holder.id AS person_id,
    a.street,
    a.zip_code AS zip_code,
    a.city,
    a.state
  FROM {source_table}
  LATERAL VIEW explode(card_holder.addresses) addr AS a
) s
ON t.person_id = s.person_id AND t.address_id = s.address_id

WHEN MATCHED THEN UPDATE SET *
WHEN NOT MATCHED THEN INSERT *
""")

DataFrame[]

In [18]:
%%sql
SELECT
    sha2(concat(card_holder.id,'card'),256) AS card_id,
    card_holder.id AS person_id,
    card_holder.card.number AS card_number,
    card_holder.card.type AS card_type,
    card_holder.card.expiry_date AS expiry_date
    FROM customer_db.raw_card_holder_t;

Running query in 'SparkSession'

302 rows affected.

+------------------------------------------------------------------+--------------------------------------+----------------------+------------------+------------+
|                             Field 1                              |               Field 2                |       Field 3        |     Field 4      |  Field 5   |
+------------------------------------------------------------------+--------------------------------------+----------------------+------------------+------------+
| ef30a07cec4e597514537d6fdc070b6d793c194def4e6d0284ea9cf6244fa2c3 | f28981cd-f542-eea6-ca7d-ba176a3eaf9c | 1800-1703-6464-1734  |   diners_club    | 2027-03-15 |
| d356191520081ba09acb303161e679fc5a43523307ddfefa026d66e53a369be4 | e0c540b5-fb4b-3f42-a632-51c4f7cef373 | 2131-0726-3156-7595  |      switch      | 2026-07-23 |
| 707c41e0b6d329c9830d4c8abdd96433df5614f7546e495bfbfa2963bfb7c9e8 | 97197320-b713-f7f1-5d68-92a934569f44 | 2131-0267-5280-8527  |   diners_club    | 2027-03-23 |
| 13d8c7563bffb6806530e897752f3ef3b26125bf3accf45c818baf53a3771a5e | 25394ff1-23eb-e75c-6f93-aa50e0f01045 | 60110-4879-2192-2704 | american_express | 2027-09-15 |
| 37412a69f4f48cdee519f7933aa2f7068ef51ca3723a300d52e487ede8d118e5 | 4ed1e577-0e72-a99b-7c5e-7807b3ca354b | 2131-3059-6444-9606  |   diners_club    | 2033-09-25 |
| 70c375b1b6c90c351411b923709f5d93b565407cb611e38ee07a6c8c518cbbd9 | 94f549b4-ad1a-2e96-1cd3-a3a143da4766 | 2720-9856-4517-6139  |     discover     | 2036-08-12 |
| 484279728980ccaef5140ee3bd13678f38c1f6d8b9683ef39c63bc495adf567b | 7d2cb958-66ec-2195-985c-4d83ea6b2e6a | 6761-1451-4900-6993  |      laser       | 2033-05-30 |
| 2e52e5177efc83e51db909d30bbe0cdbcca4f740438908ddf33a119861518710 | 17f065af-bba6-aad2-863d-b19fbd793b2a | 60110-4821-6162-7548 |     discover     | 2030-02-22 |
+------------------------------------------------------------------+--------------------------------------+----------------------+------------------+------------+
Truncated to displaylimit of 10.

In [19]:
spark.sql(f"""
MERGE INTO customer_db.cur_card_t t
USING (
  SELECT
    sha2(concat(card_holder.id,'card'),256) AS card_id,
    card_holder.id AS person_id,
    card_holder.card.number AS card_number,
    card_holder.card.type AS card_type,
    card_holder.card.expiry_date AS expiry_date
  FROM {source_table}
  WHERE card_holder.card IS NOT NULL
) s
ON t.card_id = s.card_id

WHEN MATCHED THEN UPDATE SET *
WHEN NOT MATCHED THEN INSERT *
""")

DataFrame[]